h1 {
    color:red;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
}

.flex-conainer > div{
    background-color: red;
    size:100px;
    max-width: 100px;
}